@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
    --font: 'Noto Sans', sans-serif;

    --dark: #0d162b;
    --intense: magenta;
    --hover: blueviolet; 
}

body {
    background-color: var(--dark); 
    font-family: var(--font);
    color: #fff;
}

/* No outlines on focus */
.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
  box-shadow: none; 
}

h1 {
    text-align: center;
}

#navigation {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

#date {
    font-size: 1.5rem;
}

.search {
    text-align: right;
}

.search-form {
    display: none; 
}

.search-form.appear {
    display: block; 
}

.search-form label {
    display:none; 
}
.search-form input {
    height: 25px;
}

button {
    background-color: var(--intense);
    border: none; 
    padding: 0.5rem 1rem; 
    border-radius: 5px; 
    transition: background-color 0.2s linear; 
}

button:hover {
    background-color: var(--hover);
}

#show-search-btn {  
    padding: 0; 
    border-radius: 0; 
    background-color: transparent; 
    border-bottom: 1px solid var(--intense); 
    color: var(--intense);
    transition: all 0.2s linear;
    margin-bottom: 0.5rem;
}

#show-search-btn:hover {
    color: var(--hover); 
    border-color: var(--hover);
}


label {
    display: none;
}

.hazard-yes {
    color: red;
}

.hazard-no {
    color: green;
}

#loading {
    margin-top: 2rem; 
}
#loading > div {
    width: 10px; 
    height: 10px; 
    background-color: mediumseagreen;
    border-radius: 50%; 
    display: inline-block;
    margin: 5px;
    position: relative;

    animation-name: bounce;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

#loading > div:nth-of-type(2) {
    animation-delay: 0.2s
}

#loading > div:nth-of-type(3) {
    animation-delay: 0.4s
}

@keyframes bounce {
    0% {
        bottom: 0;
        transform: scale(1.05, 0.95);
    }

    50% {
        bottom: 1rem;
        transform: scale(0.95, 1.05);
    }

    100% {
        bottom: 0; 
        transform: scale(1.05, 0.95);
    }
}

#apod img {
    width: 100%; 
}